html {
    width: 100% !important;
    height: 100% !important;

    .flex-column-auto {
        flex: 1 0 auto;
    }

    .flex-row-fluid {
        flex: 1 auto;
        min-width: 0;
    }

    .flex-row-auto {
        flex: 0 0 auto;
    }

    [theme=light].body {
        background-image: url('../imgs/morning.png');
    }

    [theme=dark].body {
        background-image: url('../imgs/night.png');
    }

    [theme=light] {
        .light {
            display: flex !important;
        }

        .dark {
            display: none !important;
        }
    }

    [theme=dark] {
        .dark {
            display: flex !important;
        }

        .light {
            display: none !important;
        }

        .title {
            max-width: 475px !important;

            .under-line {
                width: 220px !important;
            }
        }
    }

    body {
        width: 100% !important;
        height: 100% !important;
        background-position: top;
        background-size: inherit;
        background-repeat: no-repeat;

        .setting {
            margin-top: 40px !important;
            margin-right: 80px !important;

            i {
                color: #efc28a !important;
                font-size: 30px !important;
                cursor: pointer;
                text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            }

            i:hover {
                color: #f49852 !important;
            }
        }

        .title {
            max-width: 585px !important;
            margin-top: 10vh;

            h1 {
                font-family: 'QuicksandBook', sans-serif !important;
                font-size: 80px;
                color: #fff !important;
                letter-spacing: 4px;
                font-weight: 600;
            }

            .under-line {
                width: 330px !important;
                border-bottom: 3px solid #a3d52f !important;
                margin-bottom: 10px !important;
                margin-top: -5px !important;
            }

            h2 {
                font-family: 'Ubuntu', sans-serif !important;
                font-size: 20px;
                font-weight: 400;
                color: #b7f0f2b5 !important;
            }
        }

        .form-area {
            width: 60vw !important;
            margin-bottom: 5vh !important;

            .form-control {
                background-color: transparent !important;
                outline: none !important;
                border: none !important;
                margin-bottom: 50px !important;

                input {
                    outline: none !important;
                    border: none !important;
                    background-color: transparent !important;
                    border-bottom: 2px solid #fff6f1d2 !important;
                    height: 50px !important;
                    font-size: 25px !important;
                    color: #fff !important;
                    font-family: 'Ubuntu', sans-serif !important;
                }

                input::placeholder {
                    color: #fff6f1d2 !important;
                    font-size: 25px !important;
                    font-family: 'Ubuntu', sans-serif !important;
                }

                img {
                    width: 26px;
                    height: 26px;
                    margin-left: -35px !important;
                    margin-top: 15px !important;
                }

                button {
                    margin-top: 30px;
                    width: 90% !important;
                    height: 50px;
                    background-color: transparent !important;
                    border-radius: 6px !important;
                    box-shadow: none !important;
                    border: 2px solid #fff6f1d2 !important;
                    font-size: 19px;
                    color: #fff6f1d2;
                    font-weight: 500;
                }

                button:hover {
                    background-color: #fff6f15a !important;
                }
            }
        }

        .forget {
            max-height: 150px !important;
            font-family: 'Ubuntu', sans-serif !important;
            color: #8998a1 !important;
            font-size: 22px !important;
            font-weight: 400 !important;
            cursor: pointer;

            span:hover {
                color: #fff !important;
            }
        }
    }
}

@font-face {
    font-family: 'QuicksandBook';
    src: url('../fonts/Quicksand_Book.otf');
}